@import './base';

#main {
  .eco, .privacy {
    background: linear-gradient(128deg, #113e4c 0%, #3A9754 100%);
  }

  .cloud {
    background-color: #0E1522;
    img {
      max-height: 40rem;
    }
  }

  .tokodon {
    background: url("https://joinmastodon.org/_next/static/media/home_hero_desktop.2632cca0.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 25rem;
    @media (min-width: 800px) {
      min-height: 35rem;
    }
    @media (min-width: 1150px) {
      min-height: 45rem;
    }
    @media (min-width: 1400px) {
      min-height: 50rem;
    }

    position: relative;
    text-align: right;
    .container {
      position: absolute;
      bottom: 0;
      right: 5%;
      max-width: 60rem;
      width: 90%;
    }
  }
}

#features-hero {
  background: url('/for/activists/pexels-vincent-ma-janssen-2561628.jpg');
  background-position: center;
}
