<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/bluedevil-5.5.3.tar.xz">bluedevil-5.5.3</a></td>
   <td align="right">129kB</td>
   <td><tt>b31ea8c95ffa4f8045b9063621b846d3bc052777351e2d23f33d718374902b1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/breeze-5.5.3.tar.xz">breeze-5.5.3</a></td>
   <td align="right">28MB</td>
   <td><tt>3d8c34e214d3249ab1373a932099f82ae9102630fbd005f18b80538376255ccd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/breeze-gtk-5.5.3.tar.xz">breeze-gtk-5.5.3</a></td>
   <td align="right">251kB</td>
   <td><tt>5bba2f4a5ede5957fb3fc236024df5b1c24380cce9155825a3339fa1cfb1035e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/discover-5.5.3.tar.xz">discover-5.5.3</a></td>
   <td align="right">821kB</td>
   <td><tt>cdb2472755b904f09cd2b04f4e97ae79bdf8b6db8cfc118d1f39367ea57d1062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kde-cli-tools-5.5.3.tar.xz">kde-cli-tools-5.5.3</a></td>
   <td align="right">474kB</td>
   <td><tt>7cd8e186498398a3d185b42fb9eaa969935b61a4b05164477c510e599519892b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kdecoration-5.5.3.tar.xz">kdecoration-5.5.3</a></td>
   <td align="right">33kB</td>
   <td><tt>7b46a3dd3ccbe4de3d0da78062012a478d425a43f6cc85698ceb58bed25c1fd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kde-gtk-config-5.5.3.tar.xz">kde-gtk-config-5.5.3</a></td>
   <td align="right">142kB</td>
   <td><tt>bbcc6d9ee0193f940717b2f48ffa12b8d01f2b598f0e951d7a35308c547b6236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kdeplasma-addons-5.5.3.tar.xz">kdeplasma-addons-5.5.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3a7caf27515d47fea7d1b22d7dab7297bf47e84ff3ea66498179d1164a2d5244</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kgamma5-5.5.3.tar.xz">kgamma5-5.5.3</a></td>
   <td align="right">58kB</td>
   <td><tt>e48d7bbe90b5a2cde2976650bc466a7ee3037593657df2014ad72b181d0fa45e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/khelpcenter-5.5.3.tar.xz">khelpcenter-5.5.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2c2372dc0611c1a3a017329a2e74a42b69ec572035ffd3c0fe8584f0cb5e5f3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/khotkeys-5.5.3.tar.xz">khotkeys-5.5.3</a></td>
   <td align="right">589kB</td>
   <td><tt>a086458365a3800f5f5b875f0bedf09f3c84e46ccdb46bcb02437dc6adfcba56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kinfocenter-5.5.3.tar.xz">kinfocenter-5.5.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>00e4204568de11f819cd3a5fa8eaeeb3c75bcd5bb8024b5a9d3fb6eae65eabb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kmenuedit-5.5.3.tar.xz">kmenuedit-5.5.3</a></td>
   <td align="right">431kB</td>
   <td><tt>bffb5867371478c6a25ba4023a480e1cd26036a32e5298c422ca864118c630ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kscreen-5.5.3.tar.xz">kscreen-5.5.3</a></td>
   <td align="right">100kB</td>
   <td><tt>efd6deeedac1cbd912cf724e15b81c8f69f98abc83aba3f2e3c2740a639a248b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kscreenlocker-5.5.3.tar.xz">kscreenlocker-5.5.3</a></td>
   <td align="right">95kB</td>
   <td><tt>89dc3408989cc8b4c551ab7c1713422b9e6229443a2fd17df0f0440e0db62fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/ksshaskpass-5.5.3.tar.xz">ksshaskpass-5.5.3</a></td>
   <td align="right">19kB</td>
   <td><tt>6b462b304c92b6bde332ad1bcf5f72cab6d7e4e99eb9365d1e6c8740d6dab493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/ksysguard-5.5.3.tar.xz">ksysguard-5.5.3</a></td>
   <td align="right">470kB</td>
   <td><tt>1d0688e8aea1556f72ce86ef5d0b2545883826592c0679f4fe96599c831dbdf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kwallet-pam-5.5.3.tar.xz">kwallet-pam-5.5.3</a></td>
   <td align="right">15kB</td>
   <td><tt>0ddeca3b84e7085279395956f5064a9dd6065c5ea98cba99bc690cf7dbce9f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kwayland-5.5.3.tar.xz">kwayland-5.5.3</a></td>
   <td align="right">155kB</td>
   <td><tt>df5240a9fdaa531e27b0b831fc30a546a4c670f0fab13eed0dcb090fef27bb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kwayland-integration-5.5.3.tar.xz">kwayland-integration-5.5.3</a></td>
   <td align="right">16kB</td>
   <td><tt>254559a4d8db86b3babdc196e5e988e4011bac578db90bef7a849465f046d7fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kwin-5.5.3.tar.xz">kwin-5.5.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>e058451c08c16592d1d60dd3a3a2935b2ec8dbdb719aedfe616d174151ed4fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/kwrited-5.5.3.tar.xz">kwrited-5.5.3</a></td>
   <td align="right">19kB</td>
   <td><tt>a93fd5f0ce17f950cc212c345e44279fea92919bd0fcfee7b3a32a1691beefad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/libkscreen-5.5.3.tar.xz">libkscreen-5.5.3</a></td>
   <td align="right">70kB</td>
   <td><tt>5ea0e08c8eab60520e2db4d8b5b573fab6e08117f6749877b415c878b13ef511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/libksysguard-5.5.3.tar.xz">libksysguard-5.5.3</a></td>
   <td align="right">555kB</td>
   <td><tt>f4e972fdb97b51d7a9ff2fb2b5898d174bfca4ceb7e568d2f88e5e7eef5365dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/milou-5.5.3.tar.xz">milou-5.5.3</a></td>
   <td align="right">50kB</td>
   <td><tt>22d97f638dfb951afd6115b708119f89f8bd813455d8be0018ad5488fab8ad69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/oxygen-5.5.3.tar.xz">oxygen-5.5.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b67949c20e1d4783a88f5b6f3ebfcf9e38f619e288c91a0532f512c674dad6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/plasma-desktop-5.5.3.tar.xz">plasma-desktop-5.5.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>15e4f5f4b7fe8a2cfc9abb4bb922cd4b83c9dabbcb23273c15e284213cbcabf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/plasma-mediacenter-5.5.3.tar.xz">plasma-mediacenter-5.5.3</a></td>
   <td align="right">156kB</td>
   <td><tt>7b71f0b34fb7a1fb9775f6ef416c7f32d4133cc302af3d5d8ef93d7fc1d45197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/plasma-nm-5.5.3.tar.xz">plasma-nm-5.5.3</a></td>
   <td align="right">593kB</td>
   <td><tt>d888777093bdcf894e221b3c8b8184edcfb96860b612efdc2f13367815e858c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/plasma-pa-5.5.3.tar.xz">plasma-pa-5.5.3</a></td>
   <td align="right">52kB</td>
   <td><tt>eeb3b1ccea3415c53fe801dcaeecda0bbd681b6e427987f692407b0d7772ed42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/plasma-sdk-5.5.3.tar.xz">plasma-sdk-5.5.3</a></td>
   <td align="right">647kB</td>
   <td><tt>65d2c611d42bd28ce4e1cbbbfbe0c915b7d85229cf1dc5587c2ed6fa86420f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/plasma-workspace-5.5.3.tar.xz">plasma-workspace-5.5.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>4949b207fc8251b4be029619caba6346bf022041d7b14f9843b9c59503affa72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/plasma-workspace-wallpapers-5.5.3.tar.xz">plasma-workspace-wallpapers-5.5.3</a></td>
   <td align="right">43MB</td>
   <td><tt>b7cbf02f16ccd75aa70f62bea79278577ae498f5a498ecd6dd572744b8f62fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/polkit-kde-agent-1-5.5.3.tar.xz">polkit-kde-agent-1-5.5.3</a></td>
   <td align="right">38kB</td>
   <td><tt>4b21e83d518712ca031eb41de971febc18ccc3546235affa5e272006198803c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/powerdevil-5.5.3.tar.xz">powerdevil-5.5.3</a></td>
   <td align="right">337kB</td>
   <td><tt>fecf411a617061ad7f83160605c6e447e75cf2f5360db22760e8030f33219d46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/sddm-kcm-5.5.3.tar.xz">sddm-kcm-5.5.3</a></td>
   <td align="right">46kB</td>
   <td><tt>a0b9075fc77362fc52498c856589cc87966bc2c3d36453093c30e2bfca59323e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/systemsettings-5.5.3.tar.xz">systemsettings-5.5.3</a></td>
   <td align="right">153kB</td>
   <td><tt>fdc836ca9249727cfff3060e83a862d9c5fe6ee700fddec28d0f420d827e8bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.3/user-manager-5.5.3.tar.xz">user-manager-5.5.3</a></td>
   <td align="right">55kB</td>
   <td><tt>95710e43fbe841abe518fae49f7c9a122bbd372d27947ee4343521e05d0f82ec</tt></td>
</tr>

</table>
