
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/attica-5.115.0.tar.xz">attica-5.115.0</a></td>
   <td align="right">67kB</td>
   <td><tt>94efe10e43236108421b3708b36c63982a33c33a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/baloo-5.115.0.tar.xz">baloo-5.115.0</a></td>
   <td align="right">304kB</td>
   <td><tt>0ef18e5a798a7927a5954959d40fe458ab6d3315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/bluez-qt-5.115.0.tar.xz">bluez-qt-5.115.0</a></td>
   <td align="right">112kB</td>
   <td><tt>e3f6831621163f60313bfb54860e2b71ba9e9e67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/breeze-icons-5.115.0.tar.xz">breeze-icons-5.115.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>751e62c188254d0dc7718abe2246f2bd36e6d0d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/extra-cmake-modules-5.115.0.tar.xz">extra-cmake-modules-5.115.0</a></td>
   <td align="right">324kB</td>
   <td><tt>34de59632cb84e62e33dab2a5d4fdfefd9fe63b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/frameworkintegration-5.115.0.tar.xz">frameworkintegration-5.115.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>36598a04cd32fdaf4b28958c2724bc97ba2fbbe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kactivities-5.115.0.tar.xz">kactivities-5.115.0</a></td>
   <td align="right">71kB</td>
   <td><tt>8e13dc5e365874cdc1a27ed6bd561fca78b4c6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kactivities-stats-5.115.0.tar.xz">kactivities-stats-5.115.0</a></td>
   <td align="right">82kB</td>
   <td><tt>a7e401fb18004a94b634911b750faaab3748b58c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kapidox-5.115.0.tar.xz">kapidox-5.115.0</a></td>
   <td align="right">194kB</td>
   <td><tt>ed7ce2aeb17b421f005b1b10cfa889c218ef71a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/karchive-5.115.0.tar.xz">karchive-5.115.0</a></td>
   <td align="right">1001kB</td>
   <td><tt>8dadc1617d435cf64594c8b91e829d010ca9a8b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kauth-5.115.0.tar.xz">kauth-5.115.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>204687365236d1b250c2f617648bb72b07e43a23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kbookmarks-5.115.0.tar.xz">kbookmarks-5.115.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9489079ca8f715f3da07eb8508a001cf3af572b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kcalendarcore-5.115.0.tar.xz">kcalendarcore-5.115.0</a></td>
   <td align="right">262kB</td>
   <td><tt>696164c9dd3e764b6297af73f1e480f23570aa4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kcmutils-5.115.0.tar.xz">kcmutils-5.115.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4a557e231bb3695aa102d12465f20ba6c5550978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kcodecs-5.115.0.tar.xz">kcodecs-5.115.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>10c00e859e55198cbf3448ef8d4181ff59942bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kcompletion-5.115.0.tar.xz">kcompletion-5.115.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f665a1613bd27b9535710b9688d98b45b9d4bdfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kconfig-5.115.0.tar.xz">kconfig-5.115.0</a></td>
   <td align="right">288kB</td>
   <td><tt>5845e5864f1f744eb9159373075fe69fb24255a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kconfigwidgets-5.115.0.tar.xz">kconfigwidgets-5.115.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f9e73c42e99f177053dd575fe03dce109d16b4d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kcontacts-5.115.0.tar.xz">kcontacts-5.115.0</a></td>
   <td align="right">209kB</td>
   <td><tt>92dbee1c96d017913c954a9fe245a3fb628ad465</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kcoreaddons-5.115.0.tar.xz">kcoreaddons-5.115.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c733cbbc3397c6da395b0fd815b1b2dcbf8c5d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kcrash-5.115.0.tar.xz">kcrash-5.115.0</a></td>
   <td align="right">27kB</td>
   <td><tt>9abb3641f563a4c858feb88661fb895abbbf43d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kdav-5.115.0.tar.xz">kdav-5.115.0</a></td>
   <td align="right">64kB</td>
   <td><tt>2bf95185b3582e256bbb194bba755500472255ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kdbusaddons-5.115.0.tar.xz">kdbusaddons-5.115.0</a></td>
   <td align="right">47kB</td>
   <td><tt>652dd369fa539a8c27e13f530312bf1de5b13b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kdeclarative-5.115.0.tar.xz">kdeclarative-5.115.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c18d77975b683c8c0dd468aaae964a32f3c773de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kded-5.115.0.tar.xz">kded-5.115.0</a></td>
   <td align="right">40kB</td>
   <td><tt>8b6bf54494dc86449826298db36b33f6606079d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kdesu-5.115.0.tar.xz">kdesu-5.115.0</a></td>
   <td align="right">55kB</td>
   <td><tt>2e66024814e30480be3c1ac598677705989d96e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kdnssd-5.115.0.tar.xz">kdnssd-5.115.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d40b7d06f8cfbd8562805f70acf942a337e058e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kdoctools-5.115.0.tar.xz">kdoctools-5.115.0</a></td>
   <td align="right">454kB</td>
   <td><tt>13f42009044a8357a8b91066c980c8f8104880c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kemoticons-5.115.0.tar.xz">kemoticons-5.115.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d9e8d6a0acf9ce3aadabb34b5f5740319013157c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kfilemetadata-5.115.0.tar.xz">kfilemetadata-5.115.0</a></td>
   <td align="right">514kB</td>
   <td><tt>11598ae77cfb1fd35f03ae6f58b01abd0899de14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kglobalaccel-5.115.0.tar.xz">kglobalaccel-5.115.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>3160ab1a62c2991da491312d1818026613fa8fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kguiaddons-5.115.0.tar.xz">kguiaddons-5.115.0</a></td>
   <td align="right">76kB</td>
   <td><tt>9d439fa82979f1c4b3fb3282097cb2dcfd307560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kholidays-5.115.0.tar.xz">kholidays-5.115.0</a></td>
   <td align="right">249kB</td>
   <td><tt>20e278064dee88183de96c3a9be14cfcecd3b3f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/ki18n-5.115.0.tar.xz">ki18n-5.115.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9e447e849e2c19218d9fb5c20654d1c45ee211bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kiconthemes-5.115.0.tar.xz">kiconthemes-5.115.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>19d17d1958aaa3ab96fd181e5a633c9ea9fcd02f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kidletime-5.115.0.tar.xz">kidletime-5.115.0</a></td>
   <td align="right">30kB</td>
   <td><tt>64723a3851faecfae3105a2258a44621836efec9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kimageformats-5.115.0.tar.xz">kimageformats-5.115.0</a></td>
   <td align="right">15MB</td>
   <td><tt>67f109cf7f9cd565647e8de53d09952dfdf807e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kinit-5.115.0.tar.xz">kinit-5.115.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5d15ac07a095b23b79bc0af36e63eb19f5587269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kio-5.115.0.tar.xz">kio-5.115.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>66e3ed48abd3f1166baf06aea55e06f0411a2c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kirigami2-5.115.0.tar.xz">kirigami2-5.115.0</a></td>
   <td align="right">374kB</td>
   <td><tt>bc69e964fc1ef0f3eb017ed1b52439246d6af690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kitemmodels-5.115.0.tar.xz">kitemmodels-5.115.0</a></td>
   <td align="right">397kB</td>
   <td><tt>9d22dcae98aea61090c75760b3c007a9b41547c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kitemviews-5.115.0.tar.xz">kitemviews-5.115.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>aa9f7cabfeeecd5eec328b24439518de9420bd9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kjobwidgets-5.115.0.tar.xz">kjobwidgets-5.115.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7b8aacfb9b35a63320c9d849559fb71f86815128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/knewstuff-5.115.0.tar.xz">knewstuff-5.115.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>056b4ee66410e8719181ec85eb3023fd38a26fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/knotifications-5.115.0.tar.xz">knotifications-5.115.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e40e10be88a573019c3a430696e0c3605b8ca91f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/knotifyconfig-5.115.0.tar.xz">knotifyconfig-5.115.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>fc219b022ebdf6d237d40509d3e94979d3e40a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kpackage-5.115.0.tar.xz">kpackage-5.115.0</a></td>
   <td align="right">184kB</td>
   <td><tt>3b6405d062873a962706e7d190b557faae372f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kparts-5.115.0.tar.xz">kparts-5.115.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1d3e7ba8eaed4c37920b18ffc27568e7d0fddeb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kpeople-5.115.0.tar.xz">kpeople-5.115.0</a></td>
   <td align="right">61kB</td>
   <td><tt>042925e0ac8b78010574a3547263fa831aac1d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kplotting-5.115.0.tar.xz">kplotting-5.115.0</a></td>
   <td align="right">32kB</td>
   <td><tt>b8a5f6dfba88d41f9d31dc0188f132aeb303939b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kpty-5.115.0.tar.xz">kpty-5.115.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b56a40c59026be09173b6ce0451fb44e773d9734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kquickcharts-5.115.0.tar.xz">kquickcharts-5.115.0</a></td>
   <td align="right">110kB</td>
   <td><tt>a8edff38d013467c0d6700cbac8ee47bae2bfc10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/krunner-5.115.0.tar.xz">krunner-5.115.0</a></td>
   <td align="right">86kB</td>
   <td><tt>84093a7850b6c57003df6d417d829312fb810930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kservice-5.115.0.tar.xz">kservice-5.115.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6d81cf2a18a62d87b0432f2949901e0a3fb370e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/ktexteditor-5.115.0.tar.xz">ktexteditor-5.115.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>ed7b9c75f90436e81a31919f017d7ef26e32b8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/ktextwidgets-5.115.0.tar.xz">ktextwidgets-5.115.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>cd2ccb59f99c8b6e66476e37a371ad7ef8305635</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kunitconversion-5.115.0.tar.xz">kunitconversion-5.115.0</a></td>
   <td align="right">909kB</td>
   <td><tt>965429e51612b4101bbad669b3ae452150ff48f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kwallet-5.115.0.tar.xz">kwallet-5.115.0</a></td>
   <td align="right">344kB</td>
   <td><tt>390ef25953b4717f1b280669983b30c96b98f01d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kwayland-5.115.0.tar.xz">kwayland-5.115.0</a></td>
   <td align="right">329kB</td>
   <td><tt>2b300480a083583729a066ead07c33b50ceec836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kwidgetsaddons-5.115.0.tar.xz">kwidgetsaddons-5.115.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>cc54e6d51e103d506a20a684ba7edfac9f6c05a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kwindowsystem-5.115.0.tar.xz">kwindowsystem-5.115.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>73bc676d0805c7c3f4c400122658780fe2970cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/kxmlgui-5.115.0.tar.xz">kxmlgui-5.115.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>ea07dfffc5fdef6112fb981b3aac1cc7290bfe5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/modemmanager-qt-5.115.0.tar.xz">modemmanager-qt-5.115.0</a></td>
   <td align="right">118kB</td>
   <td><tt>755e220113cd612924c47b36fb911a17ec9fd290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/networkmanager-qt-5.115.0.tar.xz">networkmanager-qt-5.115.0</a></td>
   <td align="right">194kB</td>
   <td><tt>e85bf1018eeed8c52db2cc957426d00e920a8784</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/oxygen-icons-5.115.0.tar.xz">oxygen-icons-5.115.0</a></td>
   <td align="right">227MB</td>
   <td><tt>ee4ba60c910654caa3eeae601af79b0ace85e6f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/plasma-framework-5.115.0.tar.xz">plasma-framework-5.115.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>3189530db2215c0a13828f4103823752edc715d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/prison-5.115.0.tar.xz">prison-5.115.0</a></td>
   <td align="right">53kB</td>
   <td><tt>630a5495207dcbfa5eba68ce690afa66a4b70204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/purpose-5.115.0.tar.xz">purpose-5.115.0</a></td>
   <td align="right">175kB</td>
   <td><tt>1aa6d3f2396a7f833357e1b007af84cb59c4a55b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/qqc2-desktop-style-5.115.0.tar.xz">qqc2-desktop-style-5.115.0</a></td>
   <td align="right">67kB</td>
   <td><tt>555230329512177c8b9b49dc3874509b86fa346b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/solid-5.115.0.tar.xz">solid-5.115.0</a></td>
   <td align="right">299kB</td>
   <td><tt>a0c30d48fe824a261e341410fa244b5ffd697a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/sonnet-5.115.0.tar.xz">sonnet-5.115.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1a1784f2ddc29211c58996e6855e16d09a1ea2dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/syndication-5.115.0.tar.xz">syndication-5.115.0</a></td>
   <td align="right">498kB</td>
   <td><tt>5ea381834719b0f747c35b74c860c15849f313dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/syntax-highlighting-5.115.0.tar.xz">syntax-highlighting-5.115.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>840c2b1922aa9deb880a1a38382e1b3a553f3c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.115/threadweaver-5.115.0.tar.xz">threadweaver-5.115.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7af248761c584d00e342353bdc7afd3d92d65979</tt></td>
</tr>

</table>
