<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/bluedevil-5.93.0.tar.xz">bluedevil-5.93.0</a></td>
   <td align="right">358kB</td>
   <td><tt>690ea863af230320978a257448b1615742e5738e222cfb721180f61f413549db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/breeze-5.93.0.tar.xz">breeze-5.93.0</a></td>
   <td align="right">55MB</td>
   <td><tt>e5834fc95df4167735f903a7f17c02a6cd374515271fa804eaec964ea8e770c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/breeze-grub-5.93.0.tar.xz">breeze-grub-5.93.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>2db797a83177a475281545862a4f3c33cabcba2aae5d3b864c7bb24fce5989dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/breeze-gtk-5.93.0.tar.xz">breeze-gtk-5.93.0</a></td>
   <td align="right">39kB</td>
   <td><tt>4d7e517399d77ed4894d029b4fd3b46b7fca297fd78b90f4626e9afea2e30853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/breeze-plymouth-5.93.0.tar.xz">breeze-plymouth-5.93.0</a></td>
   <td align="right">108kB</td>
   <td><tt>369753b2d447f6a40c1bf6a985857cc8f697df029cb8f972a530dc7c4ef5cf0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/discover-5.93.0.tar.xz">discover-5.93.0</a></td>
   <td align="right">971kB</td>
   <td><tt>b9029066e928219a2c9d87bd0db112897bb3fe0171bae0f8e38c77de04121799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/drkonqi-5.93.0.tar.xz">drkonqi-5.93.0</a></td>
   <td align="right">851kB</td>
   <td><tt>66218cf3934c22c7fa414fc7503e7d2fa1801586b50cfeca51fbccc50de8e932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/flatpak-kcm-5.93.0.tar.xz">flatpak-kcm-5.93.0</a></td>
   <td align="right">232kB</td>
   <td><tt>c6f6762647e280734235b04dfe6c08456cb48b266132ca254a084cf7785c988d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kactivitymanagerd-5.93.0.tar.xz">kactivitymanagerd-5.93.0</a></td>
   <td align="right">107kB</td>
   <td><tt>b407e083f6a408d56f4b8293d8d12b71f1908b4986f052a240a5303d41cb5875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kde-cli-tools-5.93.0.tar.xz">kde-cli-tools-5.93.0</a></td>
   <td align="right">611kB</td>
   <td><tt>8c72d7463357ff933953782e563409c7c3ff6e622fb4cf14fe0402b95fc57969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kdecoration-5.93.0.tar.xz">kdecoration-5.93.0</a></td>
   <td align="right">53kB</td>
   <td><tt>e244040dc81a511d2744bc8e8fbcae4ab4de03005edf7cd50ed1bf8798b3a2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kde-gtk-config-5.93.0.tar.xz">kde-gtk-config-5.93.0</a></td>
   <td align="right">76kB</td>
   <td><tt>4b3f8451adca083c722338231e138edd98e622fd5a9538ebbc1925807f21dcb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kdeplasma-addons-5.93.0.tar.xz">kdeplasma-addons-5.93.0</a></td>
   <td align="right">840kB</td>
   <td><tt>481de485e252d05861cb260ed53706a687c56c0e686045d507e81177f075dc6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kgamma-5.93.0.tar.xz">kgamma-5.93.0</a></td>
   <td align="right">84kB</td>
   <td><tt>6bc874d16d2db56173fab55b34b21bb6d6c8362613973564224d5c0c7f46cc17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kglobalacceld-5.93.0.tar.xz">kglobalacceld-5.93.0</a></td>
   <td align="right">52kB</td>
   <td><tt>4e20380ca4a818daabc81889684ad5bf6c3c201e7a206b670f2514d1cc25a53b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kinfocenter-5.93.0.tar.xz">kinfocenter-5.93.0</a></td>
   <td align="right">809kB</td>
   <td><tt>af2d0154794bc069755c9b1c2a133685f9456c6d6fbe7d506d420f3b2199ef54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kmenuedit-5.93.0.tar.xz">kmenuedit-5.93.0</a></td>
   <td align="right">908kB</td>
   <td><tt>57eae6870ee06d4b0d93f34387194ac0cee825be67b2a18239cc869d5b751f4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kpipewire-5.93.2.tar.xz">kpipewire-5.93.2</a></td>
   <td align="right">141kB</td>
   <td><tt>36a9261c486796a66fc4f2747982ea3b96cf1ff169e1416359bdfa131527a71f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kscreen-5.93.0.tar.xz">kscreen-5.93.0</a></td>
   <td align="right">192kB</td>
   <td><tt>640b01405105f16a5c4973709185bb48fb1ed33b263617f78b4190dbba877665</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kscreenlocker-5.93.0.tar.xz">kscreenlocker-5.93.0</a></td>
   <td align="right">160kB</td>
   <td><tt>be0e9ada6c617a40d45e40d1095c26aaac758fd5f1b239df4896e5b64af05b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/ksshaskpass-5.93.0.tar.xz">ksshaskpass-5.93.0</a></td>
   <td align="right">28kB</td>
   <td><tt>3d4614aa6bfab05dd7ff554401614912c6fb340bca703db4d383a6df8b547249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/ksystemstats-5.93.0.tar.xz">ksystemstats-5.93.0</a></td>
   <td align="right">121kB</td>
   <td><tt>8356436cd1cad22559e48fd0f46c497437e395d67b252188bc0a3800fc329c30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kwallet-pam-5.93.0.tar.xz">kwallet-pam-5.93.0</a></td>
   <td align="right">22kB</td>
   <td><tt>762fcec596b08579923bf4049e19a1d4fcb85abc8b40ad910b3354c79699d287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kwayland-5.93.0.tar.xz">kwayland-5.93.0</a></td>
   <td align="right">130kB</td>
   <td><tt>cad4fa9a57467cb1fbb4fca83729fa5417e5399e17eb323a4d8de1c62448e01a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kwayland-integration-5.93.0.tar.xz">kwayland-integration-5.93.0</a></td>
   <td align="right">25kB</td>
   <td><tt>860a33ee0c48a9279846c90a747ba471b53813fe955a5bd05594035e7b078bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kwin-5.93.0.tar.xz">kwin-5.93.0</a></td>
   <td align="right">8.4MB</td>
   <td><tt>4bbb7fae346b3695525a83db352f984660b53e09bc0196f1774d12bb95466f17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/kwrited-5.93.0.tar.xz">kwrited-5.93.0</a></td>
   <td align="right">23kB</td>
   <td><tt>83551194f57a3307eacb73eaa8670014d78c2b7dfd2804ac5f36ec76b5b761d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/layer-shell-qt-5.93.0.tar.xz">layer-shell-qt-5.93.0</a></td>
   <td align="right">20kB</td>
   <td><tt>1b249f23af19a6c270a6bb6303457076166538e0f18c176f7a08c33b59249a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/libkscreen-5.93.0.tar.xz">libkscreen-5.93.0</a></td>
   <td align="right">114kB</td>
   <td><tt>3aad68acc0089b9f5142cea2f08bc18dcb7f78b95f9f66e57efc8f6de4423913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/libksysguard-5.93.0.tar.xz">libksysguard-5.93.0</a></td>
   <td align="right">871kB</td>
   <td><tt>f3120fb53128877ff32fe6a11d7d8077c023faac024371b09f5faa1d08bf1369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/libplasma-5.93.0.tar.xz">libplasma-5.93.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>a6042fc71870ba064487e49c44b7a04ade3f5add0b60302b27c72d79120d72bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/milou-5.93.0.tar.xz">milou-5.93.0</a></td>
   <td align="right">47kB</td>
   <td><tt>152f7f8ff46440455ba619ad07deb9145b6de4d1a177da712ff6bd5658550da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/ocean-sound-theme-5.93.0.tar.xz">ocean-sound-theme-5.93.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0a380b4e6e91a1b5a5deeed0c67adeda2b59f25bc2c7711217be628226a00f78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/oxygen-5.93.0.tar.xz">oxygen-5.93.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>99ebffde1a502c6a1bcadd30dfaaab64645bafa399e66f865818f6bd1ad64beb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/oxygen-sounds-5.93.0.tar.xz">oxygen-sounds-5.93.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>30568bb4f36265a4edd950aa170ff3fea00f0b11cd87ffb5a194dc5da22e5708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma5support-5.93.0.tar.xz">plasma5support-5.93.0</a></td>
   <td align="right">54kB</td>
   <td><tt>2dc3852ed193b79de96bec6affdacd56374698daac5a1c73a6da6cbcb926459e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-activities-5.93.0.tar.xz">plasma-activities-5.93.0</a></td>
   <td align="right">69kB</td>
   <td><tt>dd42da97422d9931b66a7af05fabaee1d0846438c6bd62f7330bdbc0393eaa18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-activities-stats-5.93.0.tar.xz">plasma-activities-stats-5.93.0</a></td>
   <td align="right">81kB</td>
   <td><tt>c8566ed38fbf5877fc8f60f9e36c6d8c5e2717ee71f0f32bec146c455a2b4596</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-browser-integration-5.93.0.tar.xz">plasma-browser-integration-5.93.0</a></td>
   <td align="right">213kB</td>
   <td><tt>bae0007466a186ecc00099ac1cde8bab7badd4487177dba7a4bf39d5e51043ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-desktop-5.93.0.tar.xz">plasma-desktop-5.93.0</a></td>
   <td align="right">14MB</td>
   <td><tt>9daf810488efa23859d5b4d5e3fc600b2772d3d89b1dd042a0b1922b6aaa5594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-disks-5.93.0.tar.xz">plasma-disks-5.93.0</a></td>
   <td align="right">97kB</td>
   <td><tt>116def373c1fe16ea4bcd7a721405553990937aeee311a78401ad9bd0c61a027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-firewall-5.93.0.tar.xz">plasma-firewall-5.93.0</a></td>
   <td align="right">359kB</td>
   <td><tt>aacfe186a97dd86e47ceb0ac0c774c38ffb895edc56044825c8e516811f264fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-integration-5.93.0.tar.xz">plasma-integration-5.93.0</a></td>
   <td align="right">90kB</td>
   <td><tt>bed1dd0d7ce71ce991cc0e0c7494958968a4e18adaeff80aaf65c888c94ea3ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-mobile-5.93.0.tar.xz">plasma-mobile-5.93.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>f04bfacea3bbf05852c2e205e56f7dc94dbe959c79686275729bedae9b9eda42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-nano-5.93.0.tar.xz">plasma-nano-5.93.0</a></td>
   <td align="right">74kB</td>
   <td><tt>34ccc85800956877c0b767f0d9a1937f7086462fa9c6dd24253f1b3eae32bc64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-nm-5.93.0.tar.xz">plasma-nm-5.93.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f81bd0318f688cda3767206beeb814151e18d846cfea844fba70f0e7634fafe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-pa-5.93.0.tar.xz">plasma-pa-5.93.0</a></td>
   <td align="right">165kB</td>
   <td><tt>1a4b2d1bd3f396ebc00db24a927303b70d4927e56dc0554f367d002d97768e9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-sdk-5.93.0.tar.xz">plasma-sdk-5.93.0</a></td>
   <td align="right">317kB</td>
   <td><tt>ec2e4f4e390780cdd8161f7876f50311866328ce18e433c278f599058ce56db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-systemmonitor-5.93.0.tar.xz">plasma-systemmonitor-5.93.0</a></td>
   <td align="right">176kB</td>
   <td><tt>0065593dbaec47a993edcd916e30367e20523d00f0a30293e79d842e07cca989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-thunderbolt-5.93.0.tar.xz">plasma-thunderbolt-5.93.0</a></td>
   <td align="right">72kB</td>
   <td><tt>e3b5a377f3351c9c9ea3154c3780e763a59fa24592d9b2654fd972f95964b28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-vault-5.93.0.tar.xz">plasma-vault-5.93.0</a></td>
   <td align="right">188kB</td>
   <td><tt>4fa61194bf1f63bc2642ca8b98a6e857f96be86a1831dfd8275ffb0f6b26a71a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-welcome-5.93.0.tar.xz">plasma-welcome-5.93.0</a></td>
   <td align="right">883kB</td>
   <td><tt>61671dd925dae784c4f4ccdca547b214f9cbf59febe1024b7904cc42dd3d3356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-workspace-5.93.0.tar.xz">plasma-workspace-5.93.0</a></td>
   <td align="right">18MB</td>
   <td><tt>db1dbd893c713d8db8f6ff2d3e5a991d2913cc66709ae0c4802aa7687d8bf673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plasma-workspace-wallpapers-5.93.0.tar.xz">plasma-workspace-wallpapers-5.93.0</a></td>
   <td align="right">104MB</td>
   <td><tt>58a8dcc90ec39c63f64dbfb5d037139f36fabe74ef15070319889ddbcdff75f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/plymouth-kcm-5.93.0.tar.xz">plymouth-kcm-5.93.0</a></td>
   <td align="right">45kB</td>
   <td><tt>9560f1ce2451d74cc7d4dc67ad3762b568befac4d6ae115890bfce09fac8111d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/polkit-kde-agent-1-5.93.0.tar.xz">polkit-kde-agent-1-5.93.0</a></td>
   <td align="right">53kB</td>
   <td><tt>abb57495965a26eeb6342b4c4943b54f3159dc1031356909703488f4ff374a7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/powerdevil-5.93.0.tar.xz">powerdevil-5.93.0</a></td>
   <td align="right">773kB</td>
   <td><tt>638c9f2329a0b4a2859edcf3bdc1c4358d6d8dbf3c1043d7b44d87661ad2ebf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/print-manager-5.93.0.tar.xz">print-manager-5.93.0</a></td>
   <td align="right">327kB</td>
   <td><tt>77547a05687612397a20488e443d237cccdd3dc9bad56e82dca8be19763d2299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/qqc2-breeze-style-5.93.0.tar.xz">qqc2-breeze-style-5.93.0</a></td>
   <td align="right">64kB</td>
   <td><tt>dbef905d6dc735af8249524de5f20c20cdaf7fb6db0d3c3467eb47240913d5c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/sddm-kcm-5.93.0.tar.xz">sddm-kcm-5.93.0</a></td>
   <td align="right">94kB</td>
   <td><tt>3f91cc8d23fdc97d307f9dc7491060bdd3b2ae61aaa7ff822c542a34ddbd2a31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/systemsettings-5.93.0.tar.xz">systemsettings-5.93.0</a></td>
   <td align="right">212kB</td>
   <td><tt>8e0d704994914c9b969f0d906781d2bdfbb67cf07ac250e698823848b14a6b06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/wacomtablet-5.93.0.tar.xz">wacomtablet-5.93.0</a></td>
   <td align="right">804kB</td>
   <td><tt>9e4b88fa5ed69f21e07014cb107819a170203e8d59c42ea878a7d535ed6ce958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.93.0/xdg-desktop-portal-kde-5.93.0.tar.xz">xdg-desktop-portal-kde-5.93.0</a></td>
   <td align="right">158kB</td>
   <td><tt>a3c721c626b562fa96ee1a65b5079020b4f376fae9629f260f047254792e43e1</tt></td>
</tr>

</table>
