
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/attica-5.34.0.tar.xz">attica-5.34.0</a></td>
   <td align="right">58kB</td>
   <td><tt>f84313e4bd36877d5b9155b8d59836872984c60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/baloo-5.34.0.tar.xz">baloo-5.34.0</a></td>
   <td align="right">189kB</td>
   <td><tt>e93aebe850166d47767425c30e2c56f417ec3529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/bluez-qt-5.34.0.tar.xz">bluez-qt-5.34.0</a></td>
   <td align="right">72kB</td>
   <td><tt>239c90553c253d4730b92dd3b97bcdd9fc325878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/breeze-icons-5.34.0.tar.xz">breeze-icons-5.34.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>3257373da7f8abfca1565d662d6a71b529d3d6ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/extra-cmake-modules-5.34.0.tar.xz">extra-cmake-modules-5.34.0</a></td>
   <td align="right">305kB</td>
   <td><tt>e9ec48844e184090c3803077fce11f1ac4bb6b11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/frameworkintegration-5.34.0.tar.xz">frameworkintegration-5.34.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a0d27c48357218a017d87a7a359b03b2691124f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kactivities-5.34.0.tar.xz">kactivities-5.34.0</a></td>
   <td align="right">59kB</td>
   <td><tt>fb04eb80b2d768fa2cf5c68341457447d0462128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kactivities-stats-5.34.0.tar.xz">kactivities-stats-5.34.0</a></td>
   <td align="right">58kB</td>
   <td><tt>4ac847fe49c90f089d21446949e5ea56c38f0e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kapidox-5.34.0.tar.xz">kapidox-5.34.0</a></td>
   <td align="right">386kB</td>
   <td><tt>e499a9ac2913a76cfef9f4ef368223c2cba30601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/karchive-5.34.0.tar.xz">karchive-5.34.0</a></td>
   <td align="right">109kB</td>
   <td><tt>88871ad852092fee52e9b3e0c0381621bdfd68eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kauth-5.34.0.tar.xz">kauth-5.34.0</a></td>
   <td align="right">82kB</td>
   <td><tt>ce0c7e2263c10bb8f74068e683210b25d24d6198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kbookmarks-5.34.0.tar.xz">kbookmarks-5.34.0</a></td>
   <td align="right">113kB</td>
   <td><tt>5b050f64d65bec18f8dd5f5467a905aa8d4f3c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kcmutils-5.34.0.tar.xz">kcmutils-5.34.0</a></td>
   <td align="right">229kB</td>
   <td><tt>ed561367f265a35b4393fb432412b4cf9d9e786a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kcodecs-5.34.0.tar.xz">kcodecs-5.34.0</a></td>
   <td align="right">216kB</td>
   <td><tt>f9134b1b82eea70cfb176f19d65bf183b6b09f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kcompletion-5.34.0.tar.xz">kcompletion-5.34.0</a></td>
   <td align="right">114kB</td>
   <td><tt>eaff023c64ea168b23c50f85c4fd98bd67bc5dc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kconfig-5.34.0.tar.xz">kconfig-5.34.0</a></td>
   <td align="right">226kB</td>
   <td><tt>7d230472a4205670f486a54c75f218df654c08a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kconfigwidgets-5.34.0.tar.xz">kconfigwidgets-5.34.0</a></td>
   <td align="right">366kB</td>
   <td><tt>6332860e501b91d46752f36de3ab449f0fa31f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kcoreaddons-5.34.0.tar.xz">kcoreaddons-5.34.0</a></td>
   <td align="right">335kB</td>
   <td><tt>745f010d339f0e87658ff9a2117d9411e7b70904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kcrash-5.34.0.tar.xz">kcrash-5.34.0</a></td>
   <td align="right">20kB</td>
   <td><tt>4c61a1f6ed8952e97f488ee549dfb151c51674d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kdbusaddons-5.34.0.tar.xz">kdbusaddons-5.34.0</a></td>
   <td align="right">34kB</td>
   <td><tt>fe3883a92b3d9d04e0a0ff99fb26d00775899ec0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kdeclarative-5.34.0.tar.xz">kdeclarative-5.34.0</a></td>
   <td align="right">165kB</td>
   <td><tt>2dd73f5e15b22f5877f32b02525ef6161ff5befa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kded-5.34.0.tar.xz">kded-5.34.0</a></td>
   <td align="right">37kB</td>
   <td><tt>2e8d8890a8b6860c69e86e66c40f6ff4de53f87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kdesignerplugin-5.34.0.tar.xz">kdesignerplugin-5.34.0</a></td>
   <td align="right">88kB</td>
   <td><tt>d3c2eb41c34a7bcfd54a873560c5f5d8bef45b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kdesu-5.34.0.tar.xz">kdesu-5.34.0</a></td>
   <td align="right">43kB</td>
   <td><tt>7f10f06489d6a40055ebb3a44fa33c83d96dfdba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kdewebkit-5.34.0.tar.xz">kdewebkit-5.34.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f8646476d9392ede8fb36c7d0812bbbfc57c1f76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kdnssd-5.34.0.tar.xz">kdnssd-5.34.0</a></td>
   <td align="right">55kB</td>
   <td><tt>69d7f3abf966e4519da347f7681fe829335e49ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kdoctools-5.34.0.tar.xz">kdoctools-5.34.0</a></td>
   <td align="right">407kB</td>
   <td><tt>26110f471fa81b70fe2a972ce97a7c565b6153aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kemoticons-5.34.0.tar.xz">kemoticons-5.34.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d7b9d0d46287d4f263d4e107825d89f467f7ba76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kfilemetadata-5.34.0.tar.xz">kfilemetadata-5.34.0</a></td>
   <td align="right">211kB</td>
   <td><tt>c3bd1e379e725dd40d723f1d13aa426e0908be7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kglobalaccel-5.34.0.tar.xz">kglobalaccel-5.34.0</a></td>
   <td align="right">81kB</td>
   <td><tt>935ee96f33c4b1acf4ba40495848cbc506a7c298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kguiaddons-5.34.0.tar.xz">kguiaddons-5.34.0</a></td>
   <td align="right">38kB</td>
   <td><tt>60f141090b5a88da9a9f54b1177fb853e61d40bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/ki18n-5.34.0.tar.xz">ki18n-5.34.0</a></td>
   <td align="right">592kB</td>
   <td><tt>fde50ed8123cf464673f7cf8ac4adc0551221b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kiconthemes-5.34.0.tar.xz">kiconthemes-5.34.0</a></td>
   <td align="right">199kB</td>
   <td><tt>f824c2574da4c4c609a40e85fd7140a04152b61e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kidletime-5.34.0.tar.xz">kidletime-5.34.0</a></td>
   <td align="right">25kB</td>
   <td><tt>6027332abe81dcdeb75356f5bec4994eae062227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kimageformats-5.34.0.tar.xz">kimageformats-5.34.0</a></td>
   <td align="right">199kB</td>
   <td><tt>98a773019714a8ad51b9f10460df0f1ba8755c5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kinit-5.34.0.tar.xz">kinit-5.34.0</a></td>
   <td align="right">118kB</td>
   <td><tt>1c46590fefe91a6436c843e7922c1e3d16518199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kio-5.34.0.tar.xz">kio-5.34.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6347f81692941378e83eb8ff809e55b5fdda0e5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kitemmodels-5.34.0.tar.xz">kitemmodels-5.34.0</a></td>
   <td align="right">379kB</td>
   <td><tt>1a0c3bebda73d4e854faf719ff445d782ba176ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kitemviews-5.34.0.tar.xz">kitemviews-5.34.0</a></td>
   <td align="right">72kB</td>
   <td><tt>f7bac7341a54836f00392cc2b68f1106cc591009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kjobwidgets-5.34.0.tar.xz">kjobwidgets-5.34.0</a></td>
   <td align="right">87kB</td>
   <td><tt>4b3752ff916ec31c0b74ed1c3ef71047b3ff1b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/knewstuff-5.34.0.tar.xz">knewstuff-5.34.0</a></td>
   <td align="right">863kB</td>
   <td><tt>cb11065307ea744ce06c4d182ee5cc00d79749d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/knotifications-5.34.0.tar.xz">knotifications-5.34.0</a></td>
   <td align="right">97kB</td>
   <td><tt>8b2a4cd5baf08620a2e5bf3f5a62763c15d6efdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/knotifyconfig-5.34.0.tar.xz">knotifyconfig-5.34.0</a></td>
   <td align="right">81kB</td>
   <td><tt>d35035f315b044d37f5f98f85fa7f0a94770470d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kpackage-5.34.0.tar.xz">kpackage-5.34.0</a></td>
   <td align="right">118kB</td>
   <td><tt>c68b5e8510a18597ac2fa4bbfe2ecef58137b94f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kparts-5.34.0.tar.xz">kparts-5.34.0</a></td>
   <td align="right">151kB</td>
   <td><tt>6f1f0c8f0785c3c3b236d5f1718d64cfc82331fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kpeople-5.34.0.tar.xz">kpeople-5.34.0</a></td>
   <td align="right">57kB</td>
   <td><tt>7b46ebd539a343df28e8ba54e5c715890152b7ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kplotting-5.34.0.tar.xz">kplotting-5.34.0</a></td>
   <td align="right">28kB</td>
   <td><tt>d975ff1fcac287282b6767d11d3751897e92d3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kpty-5.34.0.tar.xz">kpty-5.34.0</a></td>
   <td align="right">56kB</td>
   <td><tt>e5898fce43e507e6c34896bc9b4d68fd1490db2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/krunner-5.34.0.tar.xz">krunner-5.34.0</a></td>
   <td align="right">65kB</td>
   <td><tt>52f7a571d0a737ebe66e44f6cd19c30d1106ee0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kservice-5.34.0.tar.xz">kservice-5.34.0</a></td>
   <td align="right">243kB</td>
   <td><tt>7c65a74e50abff1896b00ee7dc02be1460300026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/ktexteditor-5.34.0.tar.xz">ktexteditor-5.34.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5e4be23a5d932e23a4c3299308f0215299dbcc32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/ktextwidgets-5.34.0.tar.xz">ktextwidgets-5.34.0</a></td>
   <td align="right">300kB</td>
   <td><tt>2b067a2a8341a6d7af5d6b2b67ca0134d51e0a05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kunitconversion-5.34.0.tar.xz">kunitconversion-5.34.0</a></td>
   <td align="right">756kB</td>
   <td><tt>35b7caba1da9eb42f514dca0b1576f6c61b39c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kwallet-5.34.0.tar.xz">kwallet-5.34.0</a></td>
   <td align="right">296kB</td>
   <td><tt>08e6e9a73a12dccba5343eb81c7ee6e8d260ebc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kwayland-5.34.0.tar.xz">kwayland-5.34.0</a></td>
   <td align="right">254kB</td>
   <td><tt>910048040af3ecada34b5fddf265e1f76d7e9093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kwidgetsaddons-5.34.0.tar.xz">kwidgetsaddons-5.34.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>31a1a27711349275a7e8b0ab966ca3a76d3d7f0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kwindowsystem-5.34.0.tar.xz">kwindowsystem-5.34.0</a></td>
   <td align="right">163kB</td>
   <td><tt>151478e3c03c182916aae3ff8b7a3def28a9e6b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kxmlgui-5.34.0.tar.xz">kxmlgui-5.34.0</a></td>
   <td align="right">861kB</td>
   <td><tt>aa677216c7e1bc64bc90855efd155e6f8c3859db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/kxmlrpcclient-5.34.0.tar.xz">kxmlrpcclient-5.34.0</a></td>
   <td align="right">27kB</td>
   <td><tt>d596936964a03446db62f1a8bae0c4207982d353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/modemmanager-qt-5.34.0.tar.xz">modemmanager-qt-5.34.0</a></td>
   <td align="right">95kB</td>
   <td><tt>00d185ab23db5c1b68a2af586fc84ffbee2b50aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/networkmanager-qt-5.34.0.tar.xz">networkmanager-qt-5.34.0</a></td>
   <td align="right">153kB</td>
   <td><tt>a46fa86bb1fa600d81d7f500be9aae2ea12a5d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/oxygen-icons5-5.34.0.tar.xz">oxygen-icons5-5.34.0</a></td>
   <td align="right">223MB</td>
   <td><tt>5e7aa350f1b20ccbecf704e2ae71094434f93f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/plasma-framework-5.34.0.tar.xz">plasma-framework-5.34.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>bfd0eedb9897c767e540abe6363119a6cdf3a837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/prison-5.34.0.tar.xz">prison-5.34.0</a></td>
   <td align="right">13kB</td>
   <td><tt>4a99325f11b23be468a2247fd49a9f6cda5ffc1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/solid-5.34.0.tar.xz">solid-5.34.0</a></td>
   <td align="right">242kB</td>
   <td><tt>768e40d761b751e435af20aba8c30eb78d76b52f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/sonnet-5.34.0.tar.xz">sonnet-5.34.0</a></td>
   <td align="right">276kB</td>
   <td><tt>b51301ebf16da3c08f04082d2bca3b20c66d8d19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/syntax-highlighting-5.34.0.tar.xz">syntax-highlighting-5.34.0</a></td>
   <td align="right">960kB</td>
   <td><tt>215c1fb2a84c523bf7299ad4de368f7d1b0cc4ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.34/threadweaver-5.34.0.tar.xz">threadweaver-5.34.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2ab53d30e0d8f761b898e5d8cb3aa08e3afcc7fc</tt></td>
</tr>

</table>
