/**
 * SPDX-FileCopyrightText: (c) 2020 Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

 hr.blue-line {
  width: 4rem;
  height: 5px;
  background: #3daee9;
  margin: auto;
  border: none;
  outline: none;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

main {
  font-size: 16px;
  
  section {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
  }
}

.header-plasma {
  background-image: url(/reusable-assets/home-blur.jpg);
  background-size: cover;
}
.header-plasma * {
  color: white !important;
}
.mw-1k {
  max-width: 1000px !important;
}

.container-application {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-laptop {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#section-green {
  background-color: rgba(39,174,96,0.1);
}

.section-blue {
  background: rgba(61,174,233,.1);
}

.card {
  padding: 0;
}

.screen-shadow {
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.7);
}

@media (min-width: 992px) {
  .text-right-lg {
    text-align: right;
  }
}
.kde-img {
  max-width: 850px;
  margin: 20px 0;
}

#plasma-homepage {
  background: rgba(61,174,233,.1);
}
@media (min-width: 1100px) {
  main p {
    font-size: 18px;
  }
  .laptop-with-overlay {
    max-width: 750px;
  }
  .plasma-info  {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  #plasma .container {
    display: flex;
    align-items: center;
  }
}
.app {
  align-items: center;
  
  .button {
    margin-left: 10px;
  }
  .app-description {
    display: flex;
    align-items: center;
    text-align: center;
    order: 0;
  
    div {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
    }
  }

  @media (min-width: 992px) {
    &:nth-child(odd) .app-description {
      order: 12;
    }
  }
}

#plasma h1, #plasma .h1 {
  margin-top: 0.3em;
}
.swiper-slide img, .screenshot img {
  height: 50vw;
  min-height: 300px;
  max-height: 500px;
}
  
.swiper-slide h3 {
  text-align: center;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-slide {
  flex-shrink: initial;
}
#plasma .learn-more:not(.button) {
  margin-left: 10px;
}
.button {
  margin-left: 0;
}
.hardware-grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "steam-deck      pinebook      slimbook      focus"
    "steam-deck-desc pinebook-desc slimbook-desc focus-desc";
  column-gap: 40px;
}
@media (max-width: 1024px) {
  .hardware-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "steam-deck pinebook"
    "steam-deck-desc pinebook-desc"
    "slimbook focus"
    "slimbook-desc focus-desc";
  }
}
@media (max-width: 767px) {
  .hardware-grid {
    display: flex;
    flex-direction: column;
  }
}
.steam-deck {
  grid-area: steam-deck;
  padding: 0 5px;
}
.steam-deck-desc {
  grid-area: steam-deck-desc;
}
.pinebook {
  grid-area: pinebook;
}
.pinebook-desc {
  grid-area: pinebook-desc;
}
.slimbook-img {
  grid-area: slimbook;
  padding: 0 21px;
}
.slimbook-desc {
  grid-area: slimbook-desc;
}
.focus {
  grid-area: focus;
  padding: 0 17px;
}
.focus-desc {
  grid-area: focus-desc;
}
.focus, .steam-deck, .slimbook-img, .pinebook {
  align-self: end;
  margin-top: 20px;
}
.focus img, .steam-deck img, .slimbook-img img, .pinebook img {
  max-width: 100%;
  height: auto;
}
.focus-desc, .steam-deck-desc, .slimbook-desc, .pinebook-desc {
  text-align: center;
  align-self: start;
}
#kde-connect {
  background: rgba(246, 116, 0, 0.05);
}
main::after {
  height: 40px;
  margin: 0;
  background-color: rgba(61,174,233,.1);
}

.text-lighter {
  color: #636a71;
  @media (prefers-color-scheme: dark) {
    color: #9ca8b3;
  }
}

// fundraising
.fundraising {
	background-color: rgba(var(--bs-body-bg-rgb), 0.8);
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 998;
	padding: 0.1rem;
	backdrop-filter: blur(30px) saturate(90%);
}

@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("opentype");
}

.fundraising h2 {
	font-family: "Bebas", "Noto Sans", serif;
	font-size: 3rem;
	margin-top: 0.3rem;
	margin-bottom: 0;
	@media (max-width: 900px) {
		font-size: 2rem;
	}
	a {
		color: unset;
	}
	.blue {
		color: #1D99F3
	}
}

@mixin mQ($px){
  @media screen and (max-width:$px){
    @content;
  }
}

.community-grid {
  display:grid;
  gap:15px;
  place-content: center;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 20% 25% 25% 30%;
  min-height:460px;
  padding-left: var(--bs-gutter-x);
  padding-right: var(--bs-gutter-x);

  @include mQ(768px){
    display: flex;
    flex-direction: column;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
  }

  img{
    width:100%;
    display:block;
    height:100%;
    object-fit: cover;
    object-position: center;
  }

  .community-card {
    border-radius: 15px;
    box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.26);

    transition: transform .2s;

    &:hover {
      transform: scale(1.03);
    }

    @media (prefers-reduced-motion) {
      &:hover {
        transform: scale(1.01);
      }
    }

    @include mQ(470px){
      grid-column:span 1;
    }

    &:nth-child(2) {
      grid-column:2/3;
      grid-row:span 2;

      @include mQ(690px) {
        grid-column:span 1;
        grid-row:span 1;
      }
    }

    &:nth-child(3)  {
      @include mQ(690px){
        grid-column: 2/4;
        grid-row: 1/2;
      }
    }

    @include mQ(690px){
      &:nth-child(6) {
        grid-column: 2/4;
        grid-row: 2/3;
      }
    }

    @include mQ(470px) {
      &:nth-child(5) {
        grid-column:span 2;
      }
    }

    &:nth-child(9) {
      grid-column: span 3;
    }

    p {
      //font-size: clamp(0.9rem, 0.8750rem + 0.1250vw, 1rem);
      line-height:1.4;
      margin-bottom: 0;
    }

    img {
      border-radius: 15px;
    }

    h2 {
      font-size: clamp(1rem, calc(0.8750rem + 0.6250vw), 1.5rem);
      line-height:1.3;
      font-weight:700;
      a {
        color: white !important;
      }
    }
    .card__img{
      display: block;
      position:relative;
      height:100%;

      .card__overlay{
        position:absolute;
        bottom:0;
        left:0;
        content:"";
        color:#fff;
        padding: clamp(0.938rem,5vw,1.563rem);
        background: rgb(2,2,46);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.57) 0%, rgba(255, 255, 255, 0) 100%);
        width:100%;
        height:100%;
        border-radius: 15px;
        display:flex;
        justify-content:flex-end;
        flex-direction:column;
      }

      span {
        position:absolute;
        top:25px;
        //left: min(2vmax, 1.563rem);
        color:#ff7b29;
        background:#fff;
        border-radius:50px;
        padding:2px 8px 2px 6px;
        display:flex;
        box-shadow: 0px 1px 20px #0000002b;

        @include mQ(690px){
          top:20px;
        }

       @include mQ(470px){
          top:15px;
        }

        svg{
          fill:#ff7b29;
          width:20px;
          margin-right:2px;
        }
      }
    }
  }
}

