<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadi-18.08.3.tar.xz">akonadi-18.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>c870ade8c46f5ea99fb0e02c00c3e3417a288d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadi-calendar-18.08.3.tar.xz">akonadi-calendar-18.08.3</a></td>
   <td align="right">327kB</td>
   <td><tt>6e1889294103afb9af4df73771daf3e4415d40ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadi-calendar-tools-18.08.3.tar.xz">akonadi-calendar-tools-18.08.3</a></td>
   <td align="right">220kB</td>
   <td><tt>eb53e0669d9bbc23508eb8a82da8d70d19b485e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadiconsole-18.08.3.tar.xz">akonadiconsole-18.08.3</a></td>
   <td align="right">189kB</td>
   <td><tt>0fed0c982bfc0c468429dd90f8f00b756673b006</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadi-contacts-18.08.3.tar.xz">akonadi-contacts-18.08.3</a></td>
   <td align="right">381kB</td>
   <td><tt>5bc5f0ccf1c490118b55b67dd19b40239fa80e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadi-import-wizard-18.08.3.tar.xz">akonadi-import-wizard-18.08.3</a></td>
   <td align="right">429kB</td>
   <td><tt>0c53242a23122ac70ae9dbb18906f57ab7254412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadi-mime-18.08.3.tar.xz">akonadi-mime-18.08.3</a></td>
   <td align="right">133kB</td>
   <td><tt>4081f8f9758e92911a61bb7e88246463f693ea9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadi-notes-18.08.3.tar.xz">akonadi-notes-18.08.3</a></td>
   <td align="right">24kB</td>
   <td><tt>b94a29272421affadb5f37afc4960410e1d95b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akonadi-search-18.08.3.tar.xz">akonadi-search-18.08.3</a></td>
   <td align="right">80kB</td>
   <td><tt>ba8f28215601b5f80f9d0774dfabf86712c585a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/akregator-18.08.3.tar.xz">akregator-18.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>69ddce1b34d16cee754c9578dff9404e40534ac7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/analitza-18.08.3.tar.xz">analitza-18.08.3</a></td>
   <td align="right">324kB</td>
   <td><tt>63517b0a25a384d0653adb84d8d517e44ad0981c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ark-18.08.3.tar.xz">ark-18.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3c1e071c65d4eb86c7deb25ac84640e2ee03483f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/artikulate-18.08.3.tar.xz">artikulate-18.08.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0bef1a31d10833990d5626f237fdecbc7a507472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/audiocd-kio-18.08.3.tar.xz">audiocd-kio-18.08.3</a></td>
   <td align="right">242kB</td>
   <td><tt>07a244b2b778c927e66a9798cb7e9623f58185d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/baloo-widgets-18.08.3.tar.xz">baloo-widgets-18.08.3</a></td>
   <td align="right">239kB</td>
   <td><tt>9823b4207d5e3d5504a60a525d7a30615af6d7d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/blinken-18.08.3.tar.xz">blinken-18.08.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>99dd41d54c7ac3d95dbfc3269e730147e4f4e50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/bomber-18.08.3.tar.xz">bomber-18.08.3</a></td>
   <td align="right">799kB</td>
   <td><tt>a7ec8cd9bbfa3369601220074a0960af7152713c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/bovo-18.08.3.tar.xz">bovo-18.08.3</a></td>
   <td align="right">194kB</td>
   <td><tt>19f898b777ae1feea2f8da2337090856b9969d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/calendarsupport-18.08.3.tar.xz">calendarsupport-18.08.3</a></td>
   <td align="right">632kB</td>
   <td><tt>59e812d61a484bf0ad06034f029e95d233ca25c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/cantor-18.08.3.tar.xz">cantor-18.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>4bfeb7a689ebf71ad9256c2e0f911453e3eb4697</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/cervisia-18.08.3.tar.xz">cervisia-18.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7939f6fff5b1696bcfae0186039f2b2d86d59d97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/dolphin-18.08.3.tar.xz">dolphin-18.08.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>bcea91d1e9373eefde80c1dca1f22d0edc3895d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/dolphin-plugins-18.08.3.tar.xz">dolphin-plugins-18.08.3</a></td>
   <td align="right">189kB</td>
   <td><tt>f94436a45cd7df86e554fd1ada7b64b52ba1c48f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/dragon-18.08.3.tar.xz">dragon-18.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1a4bd86c4425dc80570b6fef4d5607af38b8ca19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/eventviews-18.08.3.tar.xz">eventviews-18.08.3</a></td>
   <td align="right">431kB</td>
   <td><tt>e90b24535b106e9da3c5ab0a515465a3087bf501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ffmpegthumbs-18.08.3.tar.xz">ffmpegthumbs-18.08.3</a></td>
   <td align="right">21kB</td>
   <td><tt>47b9fdbec4bcec4ea89d9539fb853a8a1ccc9331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/filelight-18.08.3.tar.xz">filelight-18.08.3</a></td>
   <td align="right">644kB</td>
   <td><tt>d505dbd6a18af1cef43caba71f8268ec26102904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/granatier-18.08.3.tar.xz">granatier-18.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>98d1cf15839c36330dc4699854b42e9fd529a779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/grantlee-editor-18.08.3.tar.xz">grantlee-editor-18.08.3</a></td>
   <td align="right">108kB</td>
   <td><tt>f965fb7d62adfad17531485fb98d9d1691635cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/grantleetheme-18.08.3.tar.xz">grantleetheme-18.08.3</a></td>
   <td align="right">50kB</td>
   <td><tt>38035ab7bf047a673708abb4cf39ceb0a4e8da67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/gwenview-18.08.3.tar.xz">gwenview-18.08.3</a></td>
   <td align="right">5.8MB</td>
   <td><tt>ecd5f6e807e7eb7c049423161ee3959b1fabad35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/incidenceeditor-18.08.3.tar.xz">incidenceeditor-18.08.3</a></td>
   <td align="right">509kB</td>
   <td><tt>f676ca2cecb0b5778b745eb4fb8235dadb565480</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/juk-18.08.3.tar.xz">juk-18.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cd32bbfde87dbed0a7d3717ab1e36e9d0cc362d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/k3b-18.08.3.tar.xz">k3b-18.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>51c06cffc2859b7430b4cda27d5e2bcfdcec63cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kaccounts-integration-18.08.3.tar.xz">kaccounts-integration-18.08.3</a></td>
   <td align="right">69kB</td>
   <td><tt>e0cdf57f7c8a5d20c5b55a2463114ef4eb6d1329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kaccounts-providers-18.08.3.tar.xz">kaccounts-providers-18.08.3</a></td>
   <td align="right">31kB</td>
   <td><tt>b0b2afd96bc39b6bf46e27ab28509306f0322fc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kaddressbook-18.08.3.tar.xz">kaddressbook-18.08.3</a></td>
   <td align="right">525kB</td>
   <td><tt>2acc44c2883931565aeb1e44d72a9dbd9d43af42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kajongg-18.08.3.tar.xz">kajongg-18.08.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>b428849a92f2b51c7c065369abf84b4be2566c74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kalarm-18.08.3.tar.xz">kalarm-18.08.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d58431d0fe1eec49c602add26d285437fe430e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kalarmcal-18.08.3.tar.xz">kalarmcal-18.08.3</a></td>
   <td align="right">559kB</td>
   <td><tt>784a4c374db9a03439de219265fc89d9b27e4009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kalgebra-18.08.3.tar.xz">kalgebra-18.08.3</a></td>
   <td align="right">690kB</td>
   <td><tt>a1cb7eb6d2f85c06d548cac23f33fee9f0aa8696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kalzium-18.08.3.tar.xz">kalzium-18.08.3</a></td>
   <td align="right">23MB</td>
   <td><tt>70f378c42572819558f4063bbbb48e7bfbf6e284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kamera-18.08.3.tar.xz">kamera-18.08.3</a></td>
   <td align="right">96kB</td>
   <td><tt>c8602fd496d6add5dedb97d12115e94a069dcdf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kamoso-18.08.3.tar.xz">kamoso-18.08.3</a></td>
   <td align="right">179kB</td>
   <td><tt>37e5bd9b2f5f45eb9baded71b55fff7ff0c7e12e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kanagram-18.08.3.tar.xz">kanagram-18.08.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>78ebbbfd0810acee9144206103e3d9fde4c2f49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kapman-18.08.3.tar.xz">kapman-18.08.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>916b5cdc91470d27727aa5e7763cea509cd8edfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kapptemplate-18.08.3.tar.xz">kapptemplate-18.08.3</a></td>
   <td align="right">309kB</td>
   <td><tt>ec017c8a99b30a11ef4b2d5b74e174a1602cd63b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kate-18.08.3.tar.xz">kate-18.08.3</a></td>
   <td align="right">5.4MB</td>
   <td><tt>4e0092f98544ae9583efe53b47dd0c3f34fb85d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/katomic-18.08.3.tar.xz">katomic-18.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f54424f6bd085fbd78e27fcc7857967019deb357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kbackup-18.08.3.tar.xz">kbackup-18.08.3</a></td>
   <td align="right">343kB</td>
   <td><tt>c4a559c844568c86174935ac4cd24a3ef79a2760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kblackbox-18.08.3.tar.xz">kblackbox-18.08.3</a></td>
   <td align="right">434kB</td>
   <td><tt>31f789d5682dccfdc300a258343c9acd6c88e1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kblocks-18.08.3.tar.xz">kblocks-18.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fc484204cfcdfa9cbce6159a01824ceb97951a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kblog-18.08.3.tar.xz">kblog-18.08.3</a></td>
   <td align="right">71kB</td>
   <td><tt>6c3403bdc7e0126a8957f48f71f2ab46fc1e4803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kbounce-18.08.3.tar.xz">kbounce-18.08.3</a></td>
   <td align="right">3.3MB</td>
   <td><tt>d9d4f286fbcae72698a9e934017f45d5428f0053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kbreakout-18.08.3.tar.xz">kbreakout-18.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>83e3708f2504d2edc2f9385f4e3d4b86f726d6ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kbruch-18.08.3.tar.xz">kbruch-18.08.3</a></td>
   <td align="right">5.3MB</td>
   <td><tt>ce7451abfc109ec7639799196d1cd9f747a67c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kcachegrind-18.08.3.tar.xz">kcachegrind-18.08.3</a></td>
   <td align="right">789kB</td>
   <td><tt>b478567ff873dbd50d9d4076cb8af9c3690ebf64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kcalc-18.08.3.tar.xz">kcalc-18.08.3</a></td>
   <td align="right">353kB</td>
   <td><tt>39bcb2355b669753e7f6b542aef39c867306d516</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kcalcore-18.08.3.tar.xz">kcalcore-18.08.3</a></td>
   <td align="right">247kB</td>
   <td><tt>725d98b0905575669f84097e66f933419263afb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kcalutils-18.08.3.tar.xz">kcalutils-18.08.3</a></td>
   <td align="right">317kB</td>
   <td><tt>72417e6bc7c164baf5ddc152d805a3d871ea217f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kcharselect-18.08.3.tar.xz">kcharselect-18.08.3</a></td>
   <td align="right">347kB</td>
   <td><tt>c8feacafda2c9a79a8185b86cb5e8fabd0563d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kcolorchooser-18.08.3.tar.xz">kcolorchooser-18.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>1783eadc2faf977e41c1dbd58be637fca38c2334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kcontacts-18.08.3.tar.xz">kcontacts-18.08.3</a></td>
   <td align="right">202kB</td>
   <td><tt>a373ad0f5ffb9a694feb970f854cd2aa8fa98542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kcron-18.08.3.tar.xz">kcron-18.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>83b7c8e610046a0276e82893915847adc46dc82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdav-18.08.3.tar.xz">kdav-18.08.3</a></td>
   <td align="right">48kB</td>
   <td><tt>7a39b1aa8a6b5418e1e3c1ca33630cb01f8d08eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdebugsettings-18.08.3.tar.xz">kdebugsettings-18.08.3</a></td>
   <td align="right">51kB</td>
   <td><tt>c77d8309f2a0a34a8da476bcd3ab1c6f9df6410d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kde-dev-scripts-18.08.3.tar.xz">kde-dev-scripts-18.08.3</a></td>
   <td align="right">368kB</td>
   <td><tt>e81b10c6de0e11b0901a8cf6480e00aadb565254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kde-dev-utils-18.08.3.tar.xz">kde-dev-utils-18.08.3</a></td>
   <td align="right">60kB</td>
   <td><tt>09434a55ecf0bc331f77f2d967c3fb8d5a8eb5f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdeedu-data-18.08.3.tar.xz">kdeedu-data-18.08.3</a></td>
   <td align="right">320kB</td>
   <td><tt>31483cecb779d274769fdedaa42a32ee324e021d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdegraphics-mobipocket-18.08.3.tar.xz">kdegraphics-mobipocket-18.08.3</a></td>
   <td align="right">13kB</td>
   <td><tt>84728c61c19bd9db8eb33a1c4f7b6c01de76401d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdegraphics-thumbnailers-18.08.3.tar.xz">kdegraphics-thumbnailers-18.08.3</a></td>
   <td align="right">40kB</td>
   <td><tt>fc3bfc827aa7ac2242c74db0552b4519a753f2a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdenetwork-filesharing-18.08.3.tar.xz">kdenetwork-filesharing-18.08.3</a></td>
   <td align="right">305kB</td>
   <td><tt>adbc082afbcb9583e67a294f4ef73f1b126aad2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdenlive-18.08.3.tar.xz">kdenlive-18.08.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>6c869592cc2adfe21a3082d32b5e7db25d7c3bdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdepim-addons-18.08.3.tar.xz">kdepim-addons-18.08.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>12e9fa701486e0260949689f7f32c4e491d70619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdepim-apps-libs-18.08.3.tar.xz">kdepim-apps-libs-18.08.3</a></td>
   <td align="right">81kB</td>
   <td><tt>a79e97def6399a6361d6f50b9727da5b0dfe6e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdepim-runtime-18.08.3.tar.xz">kdepim-runtime-18.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e9e521c5a5433cb1e55fda1d57462cbf17421448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdesdk-kioslaves-18.08.3.tar.xz">kdesdk-kioslaves-18.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>9f8c3df21c4d88405d87ebe4b56341718be9b2c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdesdk-thumbnailers-18.08.3.tar.xz">kdesdk-thumbnailers-18.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>a7329cbac6a64cebc127c2deae15f210654e8400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdf-18.08.3.tar.xz">kdf-18.08.3</a></td>
   <td align="right">543kB</td>
   <td><tt>219f345a881e31b7277bfce301b49c472a0badfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdialog-18.08.3.tar.xz">kdialog-18.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>6b225152cacf791ff1134739c391b3fd7f6524c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kdiamond-18.08.3.tar.xz">kdiamond-18.08.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>94bd1b7a7861bd925b0d60462debd430be6e6e99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/keditbookmarks-18.08.3.tar.xz">keditbookmarks-18.08.3</a></td>
   <td align="right">179kB</td>
   <td><tt>567e05bb1e669e8a3eb4ed58f59240c173a1a1f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kfind-18.08.3.tar.xz">kfind-18.08.3</a></td>
   <td align="right">205kB</td>
   <td><tt>684f424f8a64c1c0635a3392901220eba67032ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kfloppy-18.08.3.tar.xz">kfloppy-18.08.3</a></td>
   <td align="right">195kB</td>
   <td><tt>e3ffefdf05755bbaf8614dea9f05fe239f9d87b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kfourinline-18.08.3.tar.xz">kfourinline-18.08.3</a></td>
   <td align="right">620kB</td>
   <td><tt>d94664a9a66778dbc6e0f3173aa6c0cd44f352c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kgeography-18.08.3.tar.xz">kgeography-18.08.3</a></td>
   <td align="right">10MB</td>
   <td><tt>de5de2441aa14c3ab23e3115df2a950bfcda33b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kget-18.08.3.tar.xz">kget-18.08.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>6c24594eb08364ad56988659169793d3e20dff1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kgoldrunner-18.08.3.tar.xz">kgoldrunner-18.08.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ec73cac0b6ff0770980bc121318f3e9f6bad5016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kgpg-18.08.3.tar.xz">kgpg-18.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>a71236d3113f4a4213ae731d7456e7452ed7e8a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/khangman-18.08.3.tar.xz">khangman-18.08.3</a></td>
   <td align="right">6.9MB</td>
   <td><tt>7caa7e5db7e965eff8fc9f2da4c93ea9df282035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/khelpcenter-18.08.3.tar.xz">khelpcenter-18.08.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>f652af6543eea661391532e94da5ce7c05d93818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kidentitymanagement-18.08.3.tar.xz">kidentitymanagement-18.08.3</a></td>
   <td align="right">144kB</td>
   <td><tt>b3878dbdc084cbf3c7cec2ae441d13b8f7189f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kig-18.08.3.tar.xz">kig-18.08.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>e7cd29085e2a3c897069b5c1c13523d701cc00eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kigo-18.08.3.tar.xz">kigo-18.08.3</a></td>
   <td align="right">4.9MB</td>
   <td><tt>7d791d2b9b36db6556f667d52eebbe8b30529ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/killbots-18.08.3.tar.xz">killbots-18.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ce783e32e7a6b5c9ad2482c939583324cf908f22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kimagemapeditor-18.08.3.tar.xz">kimagemapeditor-18.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>211b126bd71b51cd97d652e758b4e5f442e9c084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kimap-18.08.3.tar.xz">kimap-18.08.3</a></td>
   <td align="right">117kB</td>
   <td><tt>94db10f2379b44c08db80abaed0a20a938f6432d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kio-extras-18.08.3.tar.xz">kio-extras-18.08.3</a></td>
   <td align="right">539kB</td>
   <td><tt>95df9a451ea50563cc9279db985285e7b513c7c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kiriki-18.08.3.tar.xz">kiriki-18.08.3</a></td>
   <td align="right">362kB</td>
   <td><tt>4a2f0531d1d20d065c922d4d3c7d5f9ff921f02a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kiten-18.08.3.tar.xz">kiten-18.08.3</a></td>
   <td align="right">11MB</td>
   <td><tt>1b54c4111f6c775a909c81003f54e2be0a4d384c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kitinerary-18.08.3.tar.xz">kitinerary-18.08.3</a></td>
   <td align="right">607kB</td>
   <td><tt>3c229760c52091d3245c2c15af0754c575c1d19b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kjumpingcube-18.08.3.tar.xz">kjumpingcube-18.08.3</a></td>
   <td align="right">279kB</td>
   <td><tt>82cbff25f2791f7e0e01bd6a782236d560408b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kldap-18.08.3.tar.xz">kldap-18.08.3</a></td>
   <td align="right">152kB</td>
   <td><tt>da4cbabec8c4a61830b4b99615bb6c4ec9aa9e15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kleopatra-18.08.3.tar.xz">kleopatra-18.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bff46ecdd22aae9819911751b12c1ad4525ab865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/klettres-18.08.3.tar.xz">klettres-18.08.3</a></td>
   <td align="right">20MB</td>
   <td><tt>92a69f7a8739d270a4205f08eec6befe9dce588f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/klickety-18.08.3.tar.xz">klickety-18.08.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>14a527a1e1a4b5af20e42d416b9358e184238774</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/klines-18.08.3.tar.xz">klines-18.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2b9056d0795f5085e22637ee260a50536601e7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmag-18.08.3.tar.xz">kmag-18.08.3</a></td>
   <td align="right">613kB</td>
   <td><tt>1aab2f6621d0309649ad2da9c8329907914a1df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmahjongg-18.08.3.tar.xz">kmahjongg-18.08.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>cf7976a58131a1aaebea5a9856267b0991b6e82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmail-18.08.3.tar.xz">kmail-18.08.3</a></td>
   <td align="right">4.5MB</td>
   <td><tt>110dcc9860a45bc4debbe6f6cd263594d60d1203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmail-account-wizard-18.08.3.tar.xz">kmail-account-wizard-18.08.3</a></td>
   <td align="right">152kB</td>
   <td><tt>8ae051031d35c67c08fc4f64fb290ed57cc64361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmailtransport-18.08.3.tar.xz">kmailtransport-18.08.3</a></td>
   <td align="right">162kB</td>
   <td><tt>6077fcbaf88246ab99c8aabdc909ffcd8c08b85e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmbox-18.08.3.tar.xz">kmbox-18.08.3</a></td>
   <td align="right">23kB</td>
   <td><tt>2aa7b0b0943dea7c5711492d2032a2bdd1a1d67c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmime-18.08.3.tar.xz">kmime-18.08.3</a></td>
   <td align="right">143kB</td>
   <td><tt>b46bee1a3c867936a003444f44da6c5f25a8a6de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmines-18.08.3.tar.xz">kmines-18.08.3</a></td>
   <td align="right">880kB</td>
   <td><tt>89fb851b33f62c7da61b9782004add999a054593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmix-18.08.3.tar.xz">kmix-18.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8408db8a1780b06d71a05aef5050147fe2397223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmousetool-18.08.3.tar.xz">kmousetool-18.08.3</a></td>
   <td align="right">110kB</td>
   <td><tt>c97dc19b7d6caa4011e992894c5603912dd671fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmouth-18.08.3.tar.xz">kmouth-18.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6fe85789fdffd54489a0a80d57d4b84141b8f447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kmplot-18.08.3.tar.xz">kmplot-18.08.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>e6beb87bb7c73bb210c838cbd8bf9eb31c174c7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/knavalbattle-18.08.3.tar.xz">knavalbattle-18.08.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>793595906a742bd4be53b80376adb1b9b8904a82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/knetwalk-18.08.3.tar.xz">knetwalk-18.08.3</a></td>
   <td align="right">1012kB</td>
   <td><tt>95f67cf16a1ac5cd71c9756cbebe92ee707f774d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/knotes-18.08.3.tar.xz">knotes-18.08.3</a></td>
   <td align="right">330kB</td>
   <td><tt>63cf1ba3d2255d5f92755c4313defe7e55224759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kolf-18.08.3.tar.xz">kolf-18.08.3</a></td>
   <td align="right">903kB</td>
   <td><tt>b746818485907cabf397091b4c09a4eb4d65e535</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kollision-18.08.3.tar.xz">kollision-18.08.3</a></td>
   <td align="right">274kB</td>
   <td><tt>1b7d67dc5b51affbc485ae33f2ad2465a89aa0ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kolourpaint-18.08.3.tar.xz">kolourpaint-18.08.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>1e6da9b99a1a98ca5cdcf09b7a598da02678adde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kompare-18.08.3.tar.xz">kompare-18.08.3</a></td>
   <td align="right">783kB</td>
   <td><tt>a1db6b58804c4b49fb4095867c76d1982ec6831c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/konqueror-18.08.3.tar.xz">konqueror-18.08.3</a></td>
   <td align="right">7.3MB</td>
   <td><tt>01c77a6c9791e06faac58ac9e22173871ac09e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/konquest-18.08.3.tar.xz">konquest-18.08.3</a></td>
   <td align="right">643kB</td>
   <td><tt>e66c343ff9a9ceb01e01896eddaa82bfa71ca558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/konsole-18.08.3.tar.xz">konsole-18.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3e2c8d9f13cf5252d5f69020cbafee1626147be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kontact-18.08.3.tar.xz">kontact-18.08.3</a></td>
   <td align="right">844kB</td>
   <td><tt>8d12b65e0931519f7410655d864ba3982ff71ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kontactinterface-18.08.3.tar.xz">kontactinterface-18.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>f562a8afc3c633c84b34ecaed918e8c9a54f605b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kopete-18.08.3.tar.xz">kopete-18.08.3</a></td>
   <td align="right">8.9MB</td>
   <td><tt>ac92c578037aacd01ec37557b816a728896b9036</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/korganizer-18.08.3.tar.xz">korganizer-18.08.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8dd56125c54c05476036017dfce68a71d6cf4d47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kpat-18.08.3.tar.xz">kpat-18.08.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>b7ca43cb92167aaa230c946c0fe7510a620ba0cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kpimtextedit-18.08.3.tar.xz">kpimtextedit-18.08.3</a></td>
   <td align="right">139kB</td>
   <td><tt>dfebbb727f6c700c5802b5c7fffb0c7914dcfe49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kpkpass-18.08.3.tar.xz">kpkpass-18.08.3</a></td>
   <td align="right">22kB</td>
   <td><tt>3d0aa6e8666dd25f19ebf147c7b98c7344dd7cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kqtquickcharts-18.08.3.tar.xz">kqtquickcharts-18.08.3</a></td>
   <td align="right">25kB</td>
   <td><tt>d99fb0fdd18880f53565c5a8f94da7428cb46a63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/krdc-18.08.3.tar.xz">krdc-18.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f95c26aa7430e2477b7d87a43404b1537caa1a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kreversi-18.08.3.tar.xz">kreversi-18.08.3</a></td>
   <td align="right">921kB</td>
   <td><tt>a8edd99755b01ae57aa9f6d7e1b911f0c71ee1a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/krfb-18.08.3.tar.xz">krfb-18.08.3</a></td>
   <td align="right">971kB</td>
   <td><tt>f2554fe69f2d5a60e3b9d10ce04a5c48683f1023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kross-interpreters-18.08.3.tar.xz">kross-interpreters-18.08.3</a></td>
   <td align="right">141kB</td>
   <td><tt>acc93de19b4ece7ee6c4f8c9909d76bb8c1aef61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kruler-18.08.3.tar.xz">kruler-18.08.3</a></td>
   <td align="right">289kB</td>
   <td><tt>2c1e777dea91d0e91ebe6e6914025c13cdfc8aff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kshisen-18.08.3.tar.xz">kshisen-18.08.3</a></td>
   <td align="right">801kB</td>
   <td><tt>c6d0b78ce956cc3cdccd775493fbe06b0f128adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ksirk-18.08.3.tar.xz">ksirk-18.08.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>abbc56d6495af7f2db6f1644f3e40d137391c7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ksmtp-18.08.3.tar.xz">ksmtp-18.08.3</a></td>
   <td align="right">38kB</td>
   <td><tt>86b8721d0435c929d750c466b228b10fa7cc6a9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ksnakeduel-18.08.3.tar.xz">ksnakeduel-18.08.3</a></td>
   <td align="right">591kB</td>
   <td><tt>59019879c9343273472b6409572663bb6e3ec764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kspaceduel-18.08.3.tar.xz">kspaceduel-18.08.3</a></td>
   <td align="right">596kB</td>
   <td><tt>83d24ef9a07e80782275955a2a58ad973675ac2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ksquares-18.08.3.tar.xz">ksquares-18.08.3</a></td>
   <td align="right">252kB</td>
   <td><tt>55c68611f29bd057ea23a44f5b00a5100b3c2267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ksudoku-18.08.3.tar.xz">ksudoku-18.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>f4cfb6171080d09a4b9b0d4504cf62a1d4e35b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ksystemlog-18.08.3.tar.xz">ksystemlog-18.08.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d498962a9ded52b1d725d5b31b6120f10607adaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kteatime-18.08.3.tar.xz">kteatime-18.08.3</a></td>
   <td align="right">291kB</td>
   <td><tt>9a583666d036691a222df699ac0999ccd1589164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktimer-18.08.3.tar.xz">ktimer-18.08.3</a></td>
   <td align="right">497kB</td>
   <td><tt>e3f91f4feec9fa83cd35452a68a0e852e630a349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktnef-18.08.3.tar.xz">ktnef-18.08.3</a></td>
   <td align="right">293kB</td>
   <td><tt>76545141d21afbfda22ec7bc14f98479f620facb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktouch-18.08.3.tar.xz">ktouch-18.08.3</a></td>
   <td align="right">4.8MB</td>
   <td><tt>f053eea918017ae6998edcf0769b3c0529c923e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-accounts-kcm-18.08.3.tar.xz">ktp-accounts-kcm-18.08.3</a></td>
   <td align="right">258kB</td>
   <td><tt>7f81c3f7eb4d782adc55ebaf22c8545c323407cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-approver-18.08.3.tar.xz">ktp-approver-18.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>3bcab5b94879de50d6b0e82099a6aaf80d297f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-auth-handler-18.08.3.tar.xz">ktp-auth-handler-18.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>1f3b2b3f54fc474c8d1d1dc7c7b127739b77345b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-call-ui-18.08.3.tar.xz">ktp-call-ui-18.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>10966418bef97b3906568b5e8b8f1862f3a3c82b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-common-internals-18.08.3.tar.xz">ktp-common-internals-18.08.3</a></td>
   <td align="right">433kB</td>
   <td><tt>cfe2c0af105dd19c3a06ee5ecd040647ddfda058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-contact-list-18.08.3.tar.xz">ktp-contact-list-18.08.3</a></td>
   <td align="right">143kB</td>
   <td><tt>77fc9c6a8848a927eb54f8c4dae06804dfbe4312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-contact-runner-18.08.3.tar.xz">ktp-contact-runner-18.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>a645a800766bd24f541fe7ee92ea02ae2323e500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-desktop-applets-18.08.3.tar.xz">ktp-desktop-applets-18.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>ebdc560440b084179b01c613919f6e743b690d58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-filetransfer-handler-18.08.3.tar.xz">ktp-filetransfer-handler-18.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>65bbae587729df88423818b4de7eb61255143300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-kded-module-18.08.3.tar.xz">ktp-kded-module-18.08.3</a></td>
   <td align="right">92kB</td>
   <td><tt>80bcde8e596333919f5ad5b66ee0c32252d43428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-send-file-18.08.3.tar.xz">ktp-send-file-18.08.3</a></td>
   <td align="right">28kB</td>
   <td><tt>cf92bac30e9f631765d90f4a56d8f228122a8c87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktp-text-ui-18.08.3.tar.xz">ktp-text-ui-18.08.3</a></td>
   <td align="right">458kB</td>
   <td><tt>328b79e41ed98656cba86c290760820c17af0897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/ktuberling-18.08.3.tar.xz">ktuberling-18.08.3</a></td>
   <td align="right">31MB</td>
   <td><tt>843f0ed329ab1f4773ffe6a92de8ec1ac9c9c1da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kturtle-18.08.3.tar.xz">kturtle-18.08.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a85b6c416ebbb9cb0bc4030d907fd242931d3e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kubrick-18.08.3.tar.xz">kubrick-18.08.3</a></td>
   <td align="right">303kB</td>
   <td><tt>507988794e9fc46d85d1d319cd18f2dddc879547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kwalletmanager-18.08.3.tar.xz">kwalletmanager-18.08.3</a></td>
   <td align="right">768kB</td>
   <td><tt>ad2b1fc39abfb7b936bc4ffa6cd8dbf781794e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kwave-18.08.3.tar.xz">kwave-18.08.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>71f740676c3b1f992b974ba1551b375ee0469246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/kwordquiz-18.08.3.tar.xz">kwordquiz-18.08.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>0716a30a78d94a280ed6717d608c7841bb420904</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libgravatar-18.08.3.tar.xz">libgravatar-18.08.3</a></td>
   <td align="right">29kB</td>
   <td><tt>cc9517f210b44be540f3813d27e4f9470c9518fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkcddb-18.08.3.tar.xz">libkcddb-18.08.3</a></td>
   <td align="right">416kB</td>
   <td><tt>1e06419a15cecbbc0134faef03ea509ca8ed5ffd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkcompactdisc-18.08.3.tar.xz">libkcompactdisc-18.08.3</a></td>
   <td align="right">86kB</td>
   <td><tt>6d1a7ee5113efb4affff263f5202d5fc7a7b4ab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkdcraw-18.08.3.tar.xz">libkdcraw-18.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>86ffc7e81f06d88929763eb19e15b6324ccc948d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkdegames-18.08.3.tar.xz">libkdegames-18.08.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>345fe0bedc3209d93c226fb93424e974fbbf78ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkdepim-18.08.3.tar.xz">libkdepim-18.08.3</a></td>
   <td align="right">328kB</td>
   <td><tt>8120c586c7ff8be63e60f34528311e32a9a2e33a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkeduvocdocument-18.08.3.tar.xz">libkeduvocdocument-18.08.3</a></td>
   <td align="right">201kB</td>
   <td><tt>c3ca0ae0a6f8322c677745f9157641221f0ab881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkexiv2-18.08.3.tar.xz">libkexiv2-18.08.3</a></td>
   <td align="right">62kB</td>
   <td><tt>4ab7a15c399470d927de15f18cf52599f83a29bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkgapi-18.08.3.tar.xz">libkgapi-18.08.3</a></td>
   <td align="right">210kB</td>
   <td><tt>2efb5ec846065c56e0eb0a3d8e69554b5afcd2c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkgeomap-18.08.3.tar.xz">libkgeomap-18.08.3</a></td>
   <td align="right">147kB</td>
   <td><tt>118b0d80703dd061180b5c2f5ca1b8a7fc411563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkipi-18.08.3.tar.xz">libkipi-18.08.3</a></td>
   <td align="right">101kB</td>
   <td><tt>0078b92fb155610c8917ab1f6eab5744f9c6dcb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkleo-18.08.3.tar.xz">libkleo-18.08.3</a></td>
   <td align="right">328kB</td>
   <td><tt>da8ca027f4648c8fab43fb290df078f52bb70e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkmahjongg-18.08.3.tar.xz">libkmahjongg-18.08.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>80661e80e11d9dd96eb4ac97a39e126ebeb3e3fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libkomparediff2-18.08.3.tar.xz">libkomparediff2-18.08.3</a></td>
   <td align="right">169kB</td>
   <td><tt>e89df21ad2989fcafe3b39b0d9c1f131076391bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libksane-18.08.3.tar.xz">libksane-18.08.3</a></td>
   <td align="right">134kB</td>
   <td><tt>22dbb34b9e46f361b2d20cbb5597fa4e086cd848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/libksieve-18.08.3.tar.xz">libksieve-18.08.3</a></td>
   <td align="right">537kB</td>
   <td><tt>9419f1139da72a91641f4b6b12ca6878a0993fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/lokalize-18.08.3.tar.xz">lokalize-18.08.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>24faed3a9bcdfe9bf552957cc6612be012ca4d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/lskat-18.08.3.tar.xz">lskat-18.08.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>cc200e75fdf72ccc102e8746ec82b9900f0bebcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/mailcommon-18.08.3.tar.xz">mailcommon-18.08.3</a></td>
   <td align="right">675kB</td>
   <td><tt>2228b6de9e2eaa6c72c054ff1181d42f8a4200e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/mailimporter-18.08.3.tar.xz">mailimporter-18.08.3</a></td>
   <td align="right">528kB</td>
   <td><tt>7954a72d2d0c874fd811d23e8f083cae8923225d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/marble-18.08.3.tar.xz">marble-18.08.3</a></td>
   <td align="right">49MB</td>
   <td><tt>733da82156bccaf7200b7b3b9dd4b07ba554e85a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/mbox-importer-18.08.3.tar.xz">mbox-importer-18.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>eca0be0c80f8ec68e6e450a358c5e540263df839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/messagelib-18.08.3.tar.xz">messagelib-18.08.3</a></td>
   <td align="right">9.9MB</td>
   <td><tt>d6b73896c5d7375d84105d222b3b9adf93c26b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/minuet-18.08.3.tar.xz">minuet-18.08.3</a></td>
   <td align="right">26MB</td>
   <td><tt>bdd150412b70932f0b5918045fd5e53a29d5afeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/okular-18.08.3.tar.xz">okular-18.08.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>7d91f5fd420d07df670960b7c8751ab64f40d08a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/palapeli-18.08.3.tar.xz">palapeli-18.08.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1d8d94d0333e2dc55a83a6e0b33cd6df996aea95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/parley-18.08.3.tar.xz">parley-18.08.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>7b28aead0be6665a640b0b0b58eab3491323ade2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/picmi-18.08.3.tar.xz">picmi-18.08.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>57af333962640dd612ef899eea55f017819d33a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/pimcommon-18.08.3.tar.xz">pimcommon-18.08.3</a></td>
   <td align="right">285kB</td>
   <td><tt>b5e3a8dcfe1f412af9112e74b93e8a8af9252e85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/pim-data-exporter-18.08.3.tar.xz">pim-data-exporter-18.08.3</a></td>
   <td align="right">263kB</td>
   <td><tt>1f3ba696734a363b9831cedb2136c7ab671d0081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/pim-sieve-editor-18.08.3.tar.xz">pim-sieve-editor-18.08.3</a></td>
   <td align="right">438kB</td>
   <td><tt>ca907066cf2cd8441df76074cb322dbbaa07292c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/poxml-18.08.3.tar.xz">poxml-18.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>60d570e75299920ed521e8a8e98c666fe6225f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/print-manager-18.08.3.tar.xz">print-manager-18.08.3</a></td>
   <td align="right">233kB</td>
   <td><tt>ef69170c50e45f75b2b5031d9bac04cd8f3c9a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/rocs-18.08.3.tar.xz">rocs-18.08.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>23e1665e71ed32f6f2ceaece598c733c3e2d2e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/signon-kwallet-extension-18.08.3.tar.xz">signon-kwallet-extension-18.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>dbd0644c48aa01a26cbec1c93f6dd19d7244159a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/spectacle-18.08.3.tar.xz">spectacle-18.08.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c09ce87dcb11d1468a3d51955aabd6143d5d5654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/step-18.08.3.tar.xz">step-18.08.3</a></td>
   <td align="right">840kB</td>
   <td><tt>569aad94f39ca7d20e79a67bbb2ae6195f9b2454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/svgpart-18.08.3.tar.xz">svgpart-18.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>228a31456b09274c2ee07c3cdcf2acc7209ebfb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/sweeper-18.08.3.tar.xz">sweeper-18.08.3</a></td>
   <td align="right">359kB</td>
   <td><tt>f46c31fae68927c1e5ff00661fae7f14e49d6baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/syndication-18.08.3.tar.xz">syndication-18.08.3</a></td>
   <td align="right">155kB</td>
   <td><tt>28a30697a858cbf474d3e0a0a7644dd1675d2ae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/umbrello-18.08.3.tar.xz">umbrello-18.08.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6129294fe50a264c934aa8abec8724c0d0b59457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.08.3/src/zeroconf-ioslave-18.08.3.tar.xz">zeroconf-ioslave-18.08.3</a></td>
   <td align="right">38kB</td>
   <td><tt>403f144268b914902f7afefccffabb5fb019bba7</tt></td>
</tr>

</table>
